@using K9.Base.WebApplication.Config
<div class="footer main-section">
	<div class="container">
		<div class="agile-footer-grids">
			<div class="agile-footer-grid">
				<h4>@WebsiteConfiguration.Instance.CompanyName</h4>
				<p>
					@K9.Globalisation.Dictionary.CompanyBlurbFooter
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		<p>&copy; @DateTime.Now.Year - Glantz Software Consulting Limited</p>
	</div>
</div>