.max-height-100 {
	max-height: 100px;
}

.max-height-200 {
	max-height: 200px;
}

.max-height-300 {
	max-height: 300px;
}

.max-height-400 {
	max-height: 400px;
}

.max-height-500 {
	max-height: 500px;
}

.max-width-200 {
    max-width: 200px;
    height: auto;
}

.text-white {
	color: white;
}

.bg-black {
	background: black;
}

.bg-grey {
	background: #888888;
}

.bg-blue {
	background: #337ab7;
}

.bg-none {
	background: none;
}

.margin-top-0 {
	margin-top: 0;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-minus-15 {
    margin-top: -15px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-0 {
	margin: 0;
}

.padding-0 {
    padding: 0;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.padding-left-2 {
	padding-left: 2px;
}

.padding-left-20-desktop {
    padding-left: 20px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-top-20 {
	padding-top: 20px;
}

.width-100 {
    width: 100% !important;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

.display-none {
	display: none;
}

.no-wrap {
	white-space: nowrap;
}

.center-300 {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
}

.center-200 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

.center-150 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -750px;
}

.auto-size {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.clear-both {
    clear: both;
}