@media (max-width:736px) {
    .navbar-header {
        text-align: center;
    }

    .navbar-toggle {
        float: none;
        margin-right: 0;
    }

    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #ff9800;
        }

    .top-nav ul li {
        display: block;
        float: none;
        width: 100% !important;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        position: absolute;
        width: 100%;
        box-shadow: none;
        z-index: 999;
    }

    .team {
        padding: 3.5em 0;
    }

    ul.nav.navbar-nav:not(.dropdown-menu) {
        background-color: rgba(240, 240, 240, 0.95) !important;
    }

        ul.nav.navbar-nav:not(.dropdown-menu) li > a {
            color: black;
        }

        ul.nav.navbar-nav:not(.dropdown-menu) li:hover > a {
            background-color: #212121;
        }

    #main-menu-container.menu-small {
        height: 50px !important;
    }

    .top-nav ul li a {
        font-size: 0.9em !important;
    }
}
