@media (max-width:991px) {
    .desktop-only {
        display: none;
    }

    .agile-footer-grid {
        width: 100%;
        margin: 0 0 2em 0 !important;
    }

        .agile-footer-grid:nth-child(4) {
            margin: 0 !important;
        }

    .agile-gallery-grid {
        width: 50%;
        float: left;
    }

        .agile-gallery-grid:nth-child(1), .agile-gallery-grid:nth-child(2) {
            margin: 0 0 2em 0;
        }

    .team-grids:nth-child(2) {
        margin-bottom: 2em;
    }

    .captn-top h4 {
        font-size: 0.9em;
    }

    .captn-top p {
        font-size: 0.9em;
    }

    .top-nav ul li ul li {
        z-index: 4000;
        height: 54px;
    }

    #bs-navbar-collapse-1 {
        overflow-y: visible;
    }

        #bs-navbar-collapse-1.menu-small {
            top: 100px !important;
        }

    .top-nav ul li ul.dropdown-menu li.sub-item {
        display: table;
    }

        .top-nav ul li ul.dropdown-menu li.sub-item a {
            padding: 0;
            display: table-cell;
            vertical-align: middle;
        }

    #main-logo-container {
        /*display: none !important;*/
        ;
    }

    #main-menu-container.menu-main, #main-menu-container.menu-small {
        height: 52px !important;
        background-color: rgba(10, 10, 10, 0);
    }

    ul#main-navbar {
        margin-top: -8px;
        background-color: rgba(10, 10, 10, 0.85);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .top-nav ul li a {
        font-size: 0.8em !important;
    }

    .clear-on-device {
        clear: both !important;
    }

    .picture-frame {
        width: 100% !important;
    }

    .padding-left-20-desktop {
        padding-left: 0 !important;
    }

    #main-menu-spacer, #main-logo-container {
        height: 80px !important;
    }

    #main-menu-container {
        display: none !important;
    }

    .large-title {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (min-width:991px) {
    .device-only {
        display: none;
    }
}
